*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        "menu busca busca busca"
        "menu conteudo conteudo conteudo"
        "menu conteudo conteudo conteudo"
        "menu grafico grafico mapa"
        "menu tabela tabela tabela"
        "menu rodape rodape rodape";
    grid-template-rows: 80px 200px 200px;  
    background-color: ghostwhite;
}

.grid-container > div {
    color: #000;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

.botao {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 100%;
    margin-bottom: 20px;
}

.botao img {
    width: 16px;
    height: 16px;
    margin-left: 8px;
}

.botao:hover {
    background-color: #0056b3;
}

.conteudo-header {
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.botaoe {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.botaoe img {
    width: 16px;
    height: 16px;
    margin-left: 8px;
}

.botaoe:hover {
    background-color: #0056b3;
}

.menu {
    background-color: #fff;
    grid-area: menu;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menu1, .menu2, .menu nav {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.menu nav ul {
    list-style: none;
    padding: 0;
}

.menu nav ul li {
    display: flex;
    align-items: center;
}

.menu nav ul li img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.busca {
    background-color: #fff;
    grid-area: busca;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.busca-direita {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.busca-direita input {
    flex-grow: 1;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.busca-direita img {
    width: 16px;
    height: 16px;
}

.highlight {
    color: blueviolet;
}

.busca-esquerda {
    display: flex;
    align-items: center;
}

.busca-esquerda p {
    margin-right: 10px;
}

.conteudo {
    background-color: #fff;
    grid-area: conteudo;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 20px;
    padding: 20px;
    border-radius: 8px;
}

.conteudo-body {
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.conteudo-body-item {
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 100%;
}

.grafico {
    background-color: #fff;
    grid-area: grafico;
}

.mapa {
    background-color: #fff;
    grid-area: mapa;
}

.tabela {
    background-color: #fff;
    grid-area: tabela;
}

.table-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.table-actions button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {

    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}


tr:hover {
    background-color: #f1f1f1;
}

td {
    padding: 8px;
    text-align: left;
    white-space: nowrap;
}

.rodape {
    background-color: #555555;
    grid-area: rodape;
    width: 100%;
    color: #fff !important;
    padding: 15px;
}